@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #dde1e7;
  background: #131419;
  flex-direction: column;
}
.container{
  max-width: 768px;
}
.wrapper{
  padding: 25px;
  border-radius: 10px;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
  background: #131419;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
              -3px -3px 7px rgba(255,255,255,0.05);
}
.wrapper .keys{
  display: flex;
  justify-content: center;
}
.wrapper .keys button{
  height: 50px;
  width: 50px;
  padding: 10px;
  border: none;
  outline: none;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
  background: #131419;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
              -3px -3px 7px rgba(255,255,255,0.05);
  margin: 10px;
  color: grey;
  color: #c7c7c7;
  font-size: 20px;
  border-radius: 5px;
  cursor: default;
}
.wrapper .keys button[value="SPACE"]{
  width: 60%;
}

.wrapper .keys .pressed{
  font-size: 19px;
  color: #eeff00;
  box-shadow: inset -3px -3px 7px #ffffff73,
              inset 2px 2px 5px rgba(94,104,121,0.288);
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5),
              inset -3px -3px 7px rgba(255, 255, 255, 0.05);
                       
}


@media screen and ( max-width : 768px) {
  .wrapper{
    padding: 25px 5px;
  }
  .wrapper .keys button{
    height: 50px;
    max-width: 40px;
    padding: 10px 1px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
                -3px -3px 7px rgba(255,255,255,0.05);
    margin: 10px 3px;
  }
}